/* RESET & VARIABLES */
:root {
    --bg-dark: #07070a;
    --bg-card: rgba(20, 20, 30, 0.4);
    --neon-purple: #b5179e;
    --neon-purple-glow: rgba(181, 23, 158, 0.6);
    --neon-purple-light: #f72585;
    --text-main: #f0f0f0;
    --text-muted: #a0a0a0;
    --border-glass: rgba(181, 23, 158, 0.3);
    --glass-blur: blur(12px);
    
    --font-main: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}